.App,
body {
  background-color: rgb(96, 202, 197);
}

.App li {
  list-style: none;
}

.App button {
  background-color: #6560cf;
  border: 1px solid #6560cf;
}

.jumbotron {
  max-width: 95%;
  margin-left: 2.5%;
  color: #fff;
  border-radius: 0px !important; /* need rounded bottom edges */
}

.jumbotron button {
  float: right;
}
.jumbotron:hover {
  background-color: #ccc;
}

.newQuestionForm input {
  width: 100%;
  margin: 1em 0.25em;
}

#container {
  /* position: fixed; */
  height: 4em;
  width: 100%;
  background-color: black;
}

.nvbr ul {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nvbr li button {
  display: block;
  background-color: black;
  color: white;
  font-size: large;
  border: none;
  height: 50px;
  /* border: 1px solid; */
  /* border-radius: 0.25em; */
  padding: 0.5em 1em;
  margin: 0.5em;
}
