.App, body{
  background-color: rgb(96, 202, 197);
}

.App li {
  list-style: none;
}

.App button {
  background-color: #6560CF;
  border: 1px solid #6560CF;
}

.jumbotron {
  max-width: 95%;
  margin-left: 2.5%;
  color: #FFF;
}

.jumbotron button {
  float: right;
}
.jumbotron:hover {
  background-color: #ccc;
}