.card {
  min-width: 100%;
  margin-bottom: 1em;
}

.card h1 {
  font-family: Roboto Slab;
  font-size: 1.5em;
}

.card h2,h3 {
  font-size: 1em;
  color: black;
  font-family: droid sans;
}

.avatar img {
  max-width: 3em;
  max-height: 3em;
  border-radius: 3px;
}
