.Qcard {
  margin-bottom: 1em;
  font-family: droid sans;
  font-size: 1em;
  background-color: #fff;
}

.Qcard:hover {
  background-color: #ccc;
  transition: 0.4s;
}

.Qcard_selected {
  border: 1px solid grey;
  transition: 0.8s;
  box-shadow: 2px 1.5px;
}

.Qcard button {
  float: right;
  margin: 2px;
}

.Qcard h2 {
  font-size: 1.5em;
  font-family: Roboto Slab;
}

.app {
  min-height: 100%;
}

.avatar img {
  max-width: 3em;
  max-height: 3em;
  border-radius: 3px;
}

.form-buttons {
  margin: 0.5em;
}
.card_container {
  overflow: auto;
}
.view_left {
  float: left;
  width: 45%;
}
.view_right {
  margin-left: 5px;
  float: left;
  width: calc(55% - 10px);
}

.replyCard {
  font-family: droid sans;
  font-size: 1em;
  min-width: 40%;
  margin-bottom: 19px;
}

.replyCard Button {
  padding: 10px;
}

.replyCard h2 {
  font-size: 1.5em;
  font-family: Roboto Slab;
}

.view_right ul {
  margin-right: 2em;
  padding-left: 1em;
}

.likeDislike {
  height: 38px;
}